.scroll-to-top {
    font-size: x-large;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: #FFA700;
    color: #FFF;
    border: none;
    font-weight: bold !important;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s, transform 0.3s;
    z-index: 100;
  }